header {
  display: flex;
  align-items: flex-end;
  background: light-dark(var(--light-header-bg), var(--dark-header-bg));
}

nav {
  margin-left: auto;
}

li {
  display: inline-block;
  font-size: clamp(0.75rem, 0.447rem + 1.294vw, 2rem);
  padding-right: 1rem;
}

ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: clamp(1rem, 0.515rem + 2.071vw, 3rem);
  margin: 1rem 0 0 1rem;
  line-height: 1;
}

span {
  color: var(--light-logo);
}