.page-title {
  text-align: center;
  padding-block: 1rem;
}

button {
    position: relative;
    border: 1px solid light-dark(var(--light-nav), var(--dark-nav));
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: clamp(1rem, 0.889rem + 0.51vw, 1.5rem);
    background-color: light-dark(white, black);
}

button:active {
    box-shadow: 5px 5px 5px light-dark(var(--light-box-shadow-d), var(--dark-box-shadow-d)) inset, -5px -5px 5px light-dark(var(--light-box-shadow-l), var(--dark-box-shadow-l)) inset;
}

a {
    text-decoration: none;
    color: light-dark(var(--light-title), var(--dark-title))
}

a:hover {
    text-decoration: underline;
}