.post {
    width: min(100% - 50px, 38rem);
    margin-inline: auto;
    margin-block-end: 2rem;
    border-radius: 5px;
    background-color: light-dark(var(--light-card-bg), var(--dark-card-bg));
    box-shadow: 10px 10px 10px light-dark(var(--light-box-shadow-d), var(--dark-box-shadow-d)), -10px -10px 10px light-dark(var(--light-box-shadow-l), var(--dark-box-shadow-l));
}

.post:nth-child(even) {
    border: 1px solid light-dark(var(--light-logo), var(--dark-logo));
}

.post:nth-child(odd) {
    border: 1px solid light-dark(var(--light-title), var(--dark-title));
}

.postBody, 
.postFooter,
.postHeader {
    width: 100% - 2rem;
    margin-inline: 1rem;
}

.postHeader{
    padding-block-start: 1rem;
}

.postFooter {
    padding-block-end: 0.5rem;
}

.postBody {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.postImg {
    max-width: 100%;
    height: auto;
}

.postVideo {
    max-width: 100%;
    height: auto;
    max-height: 100svh;
}

.postFooter a {
    color: light-dark(var(--light-logo), var(--dark-logo));
}